<h1><%= @post.title %></h1>
<small><%= @post.created_at.strftime("%b %d, %Y")%></small>
<%=link_to "edit",edit_post_path(@post)%>
<%=link_to "delete",post_path(@post),:method=>:delete,data: {confirm: "are you sure you wanna delete the post"}%>
<h5><%= @post.body%></h5>
Category: <%= link_to @post.category.name,category_path(:id=> @post.category.id)%>